h1{
    margin: auto;
    text-align: center;
    color: white;
}

h2{
    background-color: white;
    margin-bottom: 0;
    padding: 5px;    
}

main{
    background-color: white;
    padding: 2%;
    width: 340px; /* Largura para celulares */
    margin: auto;
}

.perfil{
  display: none;
}
@media screen and (min-width:620px) {
  .perfil{
    display: flex;
    margin-left: auto;
    margin-right: 5px;
    }
    
    header{
      width: 615px;
      margin: auto;
    }
  
    main{
      width: 560px;
      
    }
    
    header>div>div>img{
      border: #ffffff 3px solid;
      border-radius: 50%;
    }
    
    header>div>div{
      margin: auto;
    }
    
}

header>div{
        display: flex;
        justify-items: center;
        padding: 5px;
        margin-bottom: 2px;
        border-radius: 5px;
        background-color: #000000d0;
}

header>div>div>img{
    margin-left: auto;
    border: #ffffff 3px solid;
    border-radius: 50%;

}
#perfil{
    margin: auto;
    
}
header>div>div>p{
    color: white;
    text-indent: 0;
    text-align: center;
    
}

header>div>div>h1{
    padding: 2px;
    border-radius: 5px;
}

body{
    background-image: linear-gradient( to right, #040842, #E62A28);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

p{
    text-indent: 3rem;
    text-align: justify;
}