@charset "UTF-8";

#senha, #email{
    height: 25px;
    width: 270px;
}
#enviar{
    font-size: 18px;
    color: #000000;
    border-radius: 3px;
    width: 278px;
    margin-top: 20px;
    height: 33px;
    background-color: #E67319;
    border: none;
}
#Cadastrar-se{
    background-color: #6064496e;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Cadastrar-se label{
    color: #ff9100;
}

#Cdt{
    font-size: 14px;
    color: #000000;
    background-color: #FE5E1C;
    border-radius: 5px;
    margin-left: 25px;
    border: none;
    padding: 7px 3px;
}

label{
    color: #FE5E1C;
}
body{
    background-color: rgb(13, 22, 20);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width: 320px;
    background-color: #000000;
    border: solid #E67319 1px;
    border-radius: 6px;

}
hr{
    border-color: #e672196c;
}
form hr{
    border-color: #e672196c;
    border-radius: 30%;
}

#Mt_log{
    display: flex;
    margin-top: 5px;
}
form h1{
  color: #FE5E1C;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 32px;
  margin-bottom: 2px;
  
}
#L-form{
    width: 278px;
    background-color: #000000;
    margin: auto;
    padding-bottom: 15px;    
}
a{
    color: #ff9d42cb;
    
}

footer{
    width: 100%;
    position: fixed;
    background-color: #000000;
    bottom: 0px;
    text-align: center;
    color: #fc8f2a;
}
footer hr {
    border: solid #ff5100 1px;
    background-color: #ff7300;
    margin: 0;
}

#E-campo, #S-campo{
    margin: auto;
}