@charset "UTF-8";

html, body{
    height: 100%;
    margin: 0px;
}

body{
    background-color: #bfb6f396;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    display: flex;
    align-items: center;
}

section{
    width: 320px;
    background-color: #fff;
    border: solid #7e73bd 2px;
    border-radius: 6px;
    
}

.conteudo{
    flex: 1;
}

h1{
    color: #2c0548;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    margin: 10px 0px 2px 10px;
}

form{
      width: 278px;
      background-color: #fff;
      margin: auto;
      padding-bottom: 15px;    
}
    
label{
    color: #2c0548;
}

a{
    color: #644bf1;
}

.erro{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    display: flex;
    color: #ff0606;
    justify-content: center;
    padding: 0px;
}

#senha, #email{
    height: 25px;
    width: 270px;
}

#senha{
    margin-bottom: 5px;
}

#E-campo, #S-campo{
    margin: auto;
}

#enviar{
    background-color: #3824A8;
    border-left-color: #8F7DF5;
    border-top-color: #8F7DF5;
    border-radius: 5px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    width: 278px;
    margin-top: 10px;
    height: 33px;
}
#Cadastrar-se{
    background-color: #7e73bd;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Cadastrar-se label{
    color: #fff;
}

#Cdt{
    background-color: #3824A8;
    border-left-color: #8F7DF5;
    border-top-color: #8F7DF5;
    border-radius: 5px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    height: 33px;
    margin-left: 10px;
}

#enviar:hover , #Cdt:hover{
    background-color: #271975;
    color: #fff;
}


#Mt_log{
    display: flex;
    margin-top: 5px;
}

footer{
    flex-shrink: 0;
    width: 100%;
    padding-top: 10px;
    background-color: #2c0548;
    text-align: center;
    color: #ffffff;
}
